<div th:fragment="footer">
    <section class="bg-dark py-4">
        <div class="container">
            <div class="row text-white">
                <div class="col-3">
                    <h4>Товары</h4>
                    <ul class="list-unstyled">
                        <li><a class="fs-5 hover-text-orange focus-text-orange">Каталог</a></li>
                        <li><a class="fs-5 hover-text-orange focus-text-orange">Акции</a></li>
                        <li><a class="fs-5 hover-text-orange focus-text-orange">Услуги</a></li>
                        <li><a class="fs-5 hover-text-orange focus-text-orange">Trade-in</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Информация</h4>
                    <ul class="list-unstyled">
                        <li><a class="fs-5 hover-text-orange focus-text-orange">О нас</a></li>
                        <li><a class="fs-5 hover-text-orange focus-text-orange">Отзывы</a></li>
                        <li><a class="fs-5 hover-text-orange focus-text-orange">Частые вопросы</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4><a class="text-white">Контакты</a></h4>
                    <ul class="list-unstyled">
                        <li>
                            <img th:src="@{/images/icon_location.svg}" width="20">
                            <span>Магазин - сервис "Чинилка", ул. Огородная д.76, Северный жил.массив, Батайск</span>
                        </li>
                        <li>
                            <a href="tel:+79604681997">
                                <img th:src="@{/images/icon_phone.svg}" width="20">
                                <span>+7(960)468-19-97</span>
                            </a>
                        </li>
                        <li>
                            <img th:src="@{/images/icon_clock.svg}" width="20">
                            <span>Пн-Пт 10:00-22:00, Сб-Вс 12:00-19:00</span>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4>Мы в сети</h4>
                    <ul class="list-unstyled">
                        <li class="py-2">
                            <a href="https://instagram.chinilka_61 ">
                                <img th:src="@{/images/icon_instagram.svg}" class="me-2" width="40">
                                <span>@@chinilka_61</span>
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="https://vk.com/chinilka61">
                                <img th:src="@{/images/icon_vk.svg}" class="me-2" width="40">
                                <span>vk.com/chinilka61</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>