<div th:fragment="header">
    <div class="bg-dark">
        <div class="container text-center">
            <div class="row py-2 align-items-center">
                <div class="col-3">
                    <a>
                        <img th:src="@{/images/brand_horizontal.png}" alt="Чинилка" class="header-brand" />
                    </a>
                </div>
                <div class="col-6 d-flex justify-content-around collapse" id="navbarTop">
                    <a class="fs-5 hover-text-orange focus-text-orange" href="/">Главная</a>
                    <a class="fs-5 hover-text-orange focus-text-orange" href="/#about-us">О нас</a>
                    <a class="fs-5 hover-text-orange focus-text-orange" href="/#services">Услуги</a>
                    <a class="fs-5 hover-text-orange focus-text-orange" href="/#discounts">Акции</a>
                    <a class="fs-5 hover-text-orange focus-text-orange" href="">Б/У</a>
                    <a class="fs-5 hover-text-orange focus-text-orange" href="/#trade-in">Trade-in</a>
                    <a class="fs-5 hover-text-orange focus-text-orange" href="/#contacts">Контакты</a>
                </div>
                <div class="col-3 d-flex flex-column justify-content-end">
                    <a href="tel:+79604681997">
                        <img th:src="@{/images/icon_phone.svg}" width="20">
                        <span>+7(960)468-19-97</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-black">
        <div class="container text-center">
            <div id="categories">
                nav menu will be here
            </div>
        </div>
    </div>
</div>