<div th:fragment="aboutUs">
    <h2>О нас</h2>
    <p>
        Наша компания занимается продажей/ремонтом смартфонов Apple, Android и различной техники.
        В нашем сервисе Вы сможете найти оригинальные гаджеты, а также комплектующие для всех ваших девайсов.
        У нас Вы всегда можете получить консультации по всем вопросам, касающиеся ваших устройств.
        Цены в нашем сервисе вас приятно удивят.
        Чинилка - Мы продлеваем жизнь вашей технике!
    </p>
</div>
