<div th:fragment="discounts">
    <h2>Акции</h2>
    <ul>
        <li>
            Поклейка стекла на любой смартфон 300 ₽
        </li>
        <li>
            При регистрации скидка на ремонт 15%
        </li>
    </ul>
</div>