<div th:fragment="tradeIn">
    <div class="card trade-in-background_gradient border-0">
        <div class="card-body trade-in-background">
            <h2 class="card-title">Программа trade-in</h2>
            <a class="btn btn-light btn-lg card-subtitle mt-2 btn-outline-dark"
               id="btn-tradein-getmore" href="~/Home#accordion-trade-in">
                Узнать больше
            </a>
        </div>
    </div>

    <script>
        document.getElementById('btn-tradein-getmore').onclick = function () {
            document.getElementById('accordion-trade-in').classList.add('show');
        }
    </script>
</div>